# Required
DISCORD_TOKEN=your_bot_token_here
MODMAIL_GUILD_ID=123456789012345678
MODMAIL_THREADS_CHANNEL_ID=123456789012345678

# Optional
STAFF_ROLE_ID=123456789012345678
BOT_ACTIVITY_PLAYING=your ModMail tickets
THREAD_AUTO_ARCHIVE_MINUTES=1440

MODMAIL_DB_FILE=./data/modmail.json
